/*
1) Display inline, block e inline-block

- display: inline;
    Utiliza espacio de un elemento en línea, es decir, 
    se comporta como texto, no tendrá ni ancho ni alto.
- display: block;
    Utilizará todo el ancho de la pantalla. Este si tiene
    ancho y alto.
- display: inline-block;
    Es una combinación entre inline block, ya que es un 
    elemento de línea pero este SI puede tener ancho y alto.


2) Margin es una propiedad de espaciado hacia afuera
    Es decir: del borde del contenido hacia afuera
    Su orden es: top, right, bottom, left

3) Padding es una propiedad de espaciado hacia dentro
    Es decir: del borde del contenido hacia afuera
    Una diferencia con margin es que padding no tiene valores negativos

4) Formas de centrar un div

- Con margin-left y margin-right
    .div-center{
        margin-left: auto;
        margin-right: auto;
    }

5) Una caja está conformada por lo siguiente
    - EL contenido
    - El Padding que lo rodea
    - El borde que lo rodea

    NOTA: El margin no pertenece a la caja.

6) box-sizing
    Es una manera de hacer que la caja tenga
    el tamaño y altura especifica que se especifica (literalmente el tamaño del modelo de caja será el especificado)
    con las propiedades width y height

7) Propiedades lógicas
    Cambian el margin y padding
    (top, right, bottom, left)

    Hacen referencia a cómo esta construida
    tu página:

    margin-block-start
    margin-block-end
    padding-inline-start
    padding-inline-end
    
    Estas propiedades sirven mucho para que una página necesite verse en diferentes idiomas
    por ejemplo: en los idiomas como el árabe se lee de derecha a izquierda. Entonces, usar estas propiedades
    se adaptan al "idioma" por así decirlo.

8) La propiedad "border" en realidad es un shorthand para tres propiedades:
    - border-width
    - border-style
    - border-color

    Ejemplo: 
        border: 1px solid red;
    
    Valores posibles de border-style: solid, dashed, dotted, etc.
    A su ves cada propiedad de border como: border-width, border-style y border-color
    son un shorthand por ejemplo:
    border-width puede extendeser a border-left-width, border-right-width,
    border-top-width, border-bottom-width

9) Bordet radius

    Podemos crear triangulos con las proiedades
    border-width y border-color

    Ejemplo:

    .box{
        border-bottom-style: dashed;
        border-width: 50px;
        border-color: red transparent blue transparent;
    }

    NOTA:
    Con border-radius podemos crear figuras
    Por ejemplo:

    .circle{
        border-radius: 30px 60px 120px 90px;
    }

10) outline
    Es un borde que no pertenece al modelo de caja}

    Se suelen utilizar mucho en los formularios 
    (ejemplo: campos obligatorios, marcar elementos en foco, etc).


11) box-shadow

    Sintaxis: 
    box-shadow: h v blue spread
    color | inset;

    h: movimiento horizontal
    
    v: momiento vertical
    
    blur: es el difuminado (qué tan borrosa será la copia)
    
    spread: Qué tanto crece o se comprime la 
    sombra en sus cuatro lados.

    Ejemplo:

    box-shadow: 5px 5px 2px rgba(0,0,0,0.8);



*/



:root{
    --color: blue;
}

.opcion.active{
    color: var(--color);
}

[type="text"]{
    color: green;
    background-color: brown;
}

[type="password"]{
    color: green;
}

.div-center{
    width: 100px;
    height: 100px;
    background: red;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}


.box{
    display: inline-block;
    /*width: 0;*/
    /*margin: 2em auto 0;
    color: red;*/
    /*height: 200px;*/
    /*margin: 2rem auto 0;*/
    border: 1px solid red;
    border-bottom-style: dashed;
    border-width: 70px;
    border-color: transparent transparent blue transparent;
}

.circle{
    margin-top: 2rem;

    width: 200px;
    height: 100px;
    border: 1px solid red;
    background: yellow;
    border-radius: 30px 60px 120px 90px;
    outline: 10px solid green;
}

.box-shadow{
    margin-top: 2rem;
    width: 200px;
    height: 100px;
    background: blue;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.eclipse-container{
    margin-top: 2rem;
    width: 200px;
    height: 200px;
    background: black;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.eclipse{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: black;
    border: 1px solid white;
    border-radius: 50px;
    box-shadow: 0 0 50px white;
}
