---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="about">
    <h1>Sección sobre nosotros</h1>

    <style>
        h1{
            color: red;
        }
    </style>
</MainLayout>