---
import MainLayout from "../layouts/MainLayout.astro";

const name = "Joan Pablo";
const title = "Inicio";
---
<MainLayout title="Página de Inicio">
	<h1>Astro</h1>
	<h1>{name}</h1>
	<p>Momento actual: { new Date().toLocaleTimeString() }</p>
	<p id="actual-time"></p>
	<script>
		const footer = document.querySelector("footer") as HTMLElement;
		const currentMoment = document.querySelector("#actual-time") as HTMLElement;

		const time = new Date().toLocaleTimeString();
		currentMoment.innerHTML = `Momento actual: ${time}`;

		const currentYear: number = new Date().getFullYear();
		footer.innerText = `Año: ${currentYear}`;
	</script>
</MainLayout>