#title{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.listado{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}