---
import LayoutBlog from '../layouts/LayoutBlog.astro';
---
<LayoutBlog title="Blog">

    <header slot="header">
        -----------------------------------------------
    </header>
    <main slot="content">
        <h1>Blog</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aspernatur iusto quis obcaecati repudiandae et, assumenda mollitia, pariatur id tenetur doloribus harum nulla porro quaerat possimus laborum esse veritatis est?
        </p>
    </main>

    <footer slot="footer">
        <p>© 2023 My Blog</p>
    </footer>
</LayoutBlog>

<style>

</style>