---
import Button from '../components/Button.astro';


---

<div>
	<Button texto="Este es mi botoncito">
		<span slot="icono">+</span>
		<span slot="precio">$10</span>
	</Button>

</div>

<style>

</style>