
.elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color:bisque;
}

img{
    width: 100px;
    height: 100px;
}

li{
    font-weight: bold;
    display: flex;
}